body {
    background-color: aliceblue;
    text-align: center;
}

h1 {
    font-size: 65px;
}

.container {
    display: grid;
    width: 50%;
    margin: auto auto;
}

.square {
    background-color: rgb(255, 255, 255);
    padding: 30%;
    border: 2px solid black;
}

.buttons {
    margin: 15px auto;
}

.myBtn {
    background-color: rgb(76, 155, 175); /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}