body {
    background-color: aliceblue;
    text-align: center;
}

.container {
    display: grid;
    width: 50%;
    margin: auto auto;
}

.square {
    background-color: rgb(255, 255, 255);
    padding: 30%;
    border: 2px solid black;
}

.square:hover {
    /*background-color: aquamarine;*/
}